.breakpoint_group {
    z-index: 15;
    

    .breakpoint {
        opacity: 0;
        transition: opacity 0.3s;
        cursor: pointer;
    }

    .breakpoint_text {
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
        fill: #42567a;
        pointer-events: none;
        user-select: none;
        display: none;
        opacity: 0;
        transition: opacity 0.3s;
    }

    &:hover {
        .breakpoint {
            opacity: 1;
            display: block;
        }
  
        .breakpoint_dot {
            opacity: 0;
        }

        .breakpoint_text {
            display: inline;
            opacity: 1;
        }
    }
  }

.breakpoint_text_active {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    fill: #42567a;
    pointer-events: none;
    user-select: none;
    transition: opacity 0.3s;
}