@font-face {
	font-family: "Open Sans";
	src: url("fonts/open-sans.eot"),
		url("fonts/open-sans.woff") format("woff"),
		url("fonts/open-sans.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Open Sans";
	src: url("fonts/open-sans-bold.eot"),
		url("fonts/open-sans-bold.woff") format("woff"),
		url("fonts/open-sans-bold.woff2") format("woff2");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Bebas Neue";
	src: url("fonts/bebas-neue-bold.eot"),
		url("fonts/bebas-neue-bold.woff") format("woff"),
		url("fonts/bebas-neue-bold.woff2") format("woff2");
	font-weight: bold;
	font-style: normal;
}

html, body {
  box-sizing: border-box;
}

:root {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 40px auto;
  max-width: 1470px;
  padding: 15px;
  width: 100%;
}

:root {
  --second-family: 'Bebas Neue', sans-serif;
}